
*{
    transition:all 0.5s;
    margin:0;
    padding: 0;
}

body{
    background-color: #fff;
    background-image: linear-gradient(#f3f3f3 2px, transparent 2px), linear-gradient(0, #f3f3f3 2px, transparent 2px), linear-gradient(hsla(0,92%,0%,.03) 1px, transparent 1px), linear-gradient(0, hsla(0,92%,0%,.03) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

#navigation {
    margin:2% 0;
}

#navigation ul li{
    // display:table-cell;
    // text-align:center;
    text-align:left;
    font-size:1.875em;
    margin:0 2.6%;
}


#navigation ul li a:hover{
    transition:all 0.7s;
    color:#000;
    animation:navhover 1.5s infinite ease-in;
}


#navigation ul li a{
    text-decoration:none;
}


#navigation ul li:first-child a{
    text-decoration:underline;
    margin-left:0;
}

#navigation ul li:last-child a{
    // text-decoration:underline;
    margin-right:0;
}

#navigation ul li:nth-child(odd) a{
    color:hsl(359, 99%, 50%);
}

#navigation ul li:nth-child(even) a{
    color:black;
}

#navigation ul li {
    display: inline-block;
}

#wrapper {
    margin-right: auto;
    margin-left: auto;
    width: 98%;
}

#header {
    margin-right: 0.77%;
    margin-left: 0.77%;
    width: 96.15%;
    background-repeat: repeat-x;
    background-image: url(../img/buntingFW.png);
}

.oscarMain {
    /*  margin-right: 30px;
   margin-top: 0px;
   width: 150px;
   height: 394px; */
    float: left;
    margin:6.25% 0;
}

#sidebar {
    float:left;
    border-right-color: #e8e8e8;
    border-right-width: 2px;
    border-right-style: solid;
    margin:2% 0.77%;
    width: 32.61%;
    background:linear-gradient(90deg, #fff 0%, #e4e4e4 48.7%, #fff 100%);
}

#logo {
    display: block;
    padding-top: 6%;
    color: #0d0c0c;
    text-transform: uppercase;
    font-family: 'BebasNeueRegular';
    font-size: 3em;
}

#logo span{
    color:#DFDAE0;
}
.sideBlock a{
    max-width:47%;
    display:block;
    margin:0 1%;
    float:left;
    text-decoration:none;
}
.sideBlock img {
    // float: left;
    // transform:rotate(1deg);
    max-width: 100%;
    height:auto;
    animation:swing 0.1s 5 ease;
}

.sideBlock a:nth-child(odd) img{
    transform:rotate(3deg);
}

.sideBlock a:nth-child(even) img{
    transform:rotate(-3deg);
}

.sideImage{
    margin:0 2%;
}

#sidebar .moreInfo{
    display:block;
    align:center;
    font-size:0.5em;
    border: 1px solid #999999;
    border-radius:4px;
    line-height:2.3em;
    color:black;
    text-align:center;
    // padding:0 7.78%;
    margin:4% 2.22%;
}

.moreInfo:hover{
    box-shadow:0px 3px 4px #444;
}

#sidebar h1{
    // margin-bottom:100px;
    text-transform:uppercase;
    display:block;
    // float:right;
    clear:both;
    font-size:1.875em;
}

#content {
    margin:0 0.77%;
    float: right;
    width: 61.53%;
    // background-color: #dedede;
}

#content h1{
    text-transform:uppercase;
    font-size:3.75em;
}

#content h1 em{
    font-size:0.67em;
    display:block;
}

#content p{
    color:#757474;
    font-size:1.5em;
    line-height:1.2em;
    margin:1.5%;
}

#content p em{
    text-decoration: underline;
}

#content a.button{
    display:inline-block;
    background: #B01C20;
    color:white;
    padding:5% 2.5%;
    margin:5%;
    border-radius: 12px;
    font-size:1.0em;
}

#content a.button:hover{
    cursor: pointer;
    border:1px solid black;
    box-shadow:5px 5px 5px hsla(0, 0%, 26.6667%, 0.8);
    color:black;
    text-shadow:0px 1px white;
}

#footer {
    margin-right: 0.77%;
    margin-left: 0.77%;
    clear: both;
    width: 96.15%;
    background-repeat: repeat-x;
    background-image: url(../img/buntingFWinvert.png);
    padding-bottom: 3.31%;
    float: left;
    margin-top: 1.54%;
    padding-top: 2.54%;
    background-position: 0 bottom;
    border-top: 0.31% double #bfbfbf;
}
    

#footer p {
    margin-bottom: 3.04%;
    text-align: center;
    font-size: 0.84em;
    font-family: 'BebasNeueRegular';
    text-transform: uppercase;
    color: #757474;
}

#footer a{
    color:#000000;
}

input:not([type="range"]), textarea, select {
    border: 1px solid #bfbfbf;
    padding: 0.2em;
    font-size: 1.1em;
    line-height: 1.2em;
    background: #ffffff;
    background: linear-gradient(top, #ffffff 0%,#ededed 8%,#ffffff 100%);
    border-radius: 4px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 16.6667%, 0.1);
}

@keyframes navhover{
    0% {
        text-shadow: 0 0 4px #000000;
    }
    50% {
        text-shadow: 0 0 40px #000000;
    }
    100% {
        text-shadow: 0 0 4px #000000;
    }
}

@keyframes swing{
    0%{
        transform:rotate(5deg);
    }
    20%{
        transform:rotate(10deg);
    }
    40%{
        transform:rotate(15deg);
    }
    60%{
        transform:rotate(10deg);
    }
    80%{
        transform:rotate(5deg);
    }
    100%{
        transform:rotate(0deg);
    }
}